= simple_nested_form_for @order, :html => {:class => ""} do |f|
	= f.simple_fields_for :order_items do |oi|
		%hr
		%h3= oi.object.item.name
		= oi.input :quantity, :label => 'Qty'
	.form-actions
		= f.button :submit, :class => "btn btn-primary"
		= link_to "Cancel", @order, :class => "btn"