= empty_order(@order)

#order-item-list.tablediv
	%table.table.table-striped
		%thead
			%tr
				- ['Line','Apple','Qty','','Price','','Line Total'].each do |header|
					%th= header
		%tbody
			- @order.order_items.each_with_index do |order_item, i|			
				%tr
					%td= i + 1
					%td= order_item.item.name
					%td= order_item.quantity
					%td ×
					%td= number_to_currency(order_item.item.price)
					%td =
					%td= number_to_currency(order_item.total)

%hr

#total
	%h2= "Total: #{number_to_currency(@order.total)}"
	= paid(@order)

%hr

#actions
	= edit_action(@order)
	= submit_action(@order)
	= order_paid_action(@order)

#flash-modal