.header 
	%h1 About

.container
	.row
		.span6.offset3
			%p I raise money and walk each year in the American Cancer Society Making Strides Against Breast Cancer walk in memory of my best friend, Leslie, who past away from her third bout with cancer at the young age of 22.
			%p This year I have set a goal become a Pace Setter by raising a minimum of $2,000.  One of the ways you can help support my in my goal is by purchasing a delicious Rocky Mountain candy apple (courtesy of Jean & Bruce Kuhn).  All proceeds raised from the candy apple sales will go directly to Making Strides Against Breast Cancer.
			%p Want to save yourself the calories or just don't like candy apples, support the cause by donating any denomination, $5, $10, $25, $50 or more by clicking the link below. :) Each contribution adds up and is a tax write-off!
			%h4= link_to 'Donate Here', "http://main.acsevents.org/site/TR?px=12783188&pg=personal&fr_id=55796"
			%em Thank you for your support! 
			%h5 Jen Galvin

			%hr

			%p
				%small
					!= "AppleCart was created by #{mail_to 'chris@twocentstudios.com', 'Chris Trott'} and is run by Jen Galvin."
			%p
				%small
					!= "AppleCart is hosted by #{link_to 'Heroku', 'http://heroku.com'}, was created with #{link_to 'Ruby on Rails', 'http://rubyonrails.org'}, was designed with #{link_to 'Bootstrap', 'http://twitter.github.com/bootstrap/'}, and its source is hosted on #{link_to 'Github', 'http://github.com/twocentstudios/applecart'}."