.hero-unit
	.row-fluid
		.span2
			= image_tag 'striders.png'
		.span10
			%h1 Welcome to AppleCart
			%p= "Support Making Strides Against Breast Cancer by ordering some delicious Rocky Mountain candy apples!"
			- if Settings.sale_enabled == true
				= link_to "Sign up to start ordering!", new_user_registration_path, :class => "btn btn-large btn-primary"
				= link_to "Learn more", page_path("about"), :class => "btn btn-large"
			- else
				%p AppleCart is closed. If you've placed an order, please sign in to view the status of your order.
				= link_to "Sign in", new_user_session_path, :class => "btn btn-large btn-primary"