.header 
	%h1 Choose Your Apples
	%p They're as delicious as they look

- @items.each do |item|
	%hr
	.row-fluid
		.span6
			.pull-right
				= image_tag item.photo_url, :class => 'img-rounded'
		.span6
			%h2= item.name
			%p= number_to_currency(item.price)
			%p= item.description
			= add_apple_action(item, current_user.order)
			%div{:class => "flash-item", :id => "flash-item-#{item.id}"}
		
.footer.well
	%h1 Done shopping?
	%p= link_to "View your cart", my_orders_path