%h1.header Shop for Apples

- @items.each do |item|
	%hr
	.row-fluid
		.span6
			.pull-right
				= image_tag "http://placekitten.com/300/300", :class => 'img-rounded'
		.span6
			%h2= item.name
			%p= "$#{item.price}"
			%p= item.description
			= link_to 'Add to cart', '#', :class => 'btn btn-primary'
		
