.header 
	%h1 Shop for Apples
	%p Don't worry, they're all delicious

- @items.each do |item|
	%hr
	.row-fluid
		.span6
			.pull-right
				= image_tag "http://placekitten.com/300/300", :class => 'img-rounded'
		.span6
			%h2= item.name
			%p= number_to_currency(item.price)
			%p= item.description
			= link_to 'Add to cart', item_add_to_order_path(item), :class => 'btn btn-primary', :method => 'POST', :remote => true
			%div{:class => "flash-item", :id => "flash-item-#{item.id}"}
		
